.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.header{
  padding: 0 2rem;
}

.main-layout main{
  flex: 1;
  padding: 0 2rem;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;

  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.08),
    0 16px 32px rgba(0, 0, 0, 0.12),
    0 24px 48px rgba(0, 0, 0, 0.18);
}
