@import "../../node_modules/bootstrap/scss/bootstrap";

.card {
  max-width: 50rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 1rem;

  @media (max-width: 576px) {
    flex-direction: column;
    text-align: center;
  }
}

.avatar {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.avatar img {
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: 576px) {
    width: 5rem;
    height: 5rem;
  }
}

.username {
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    justify-content: center;
  }
}

.statistics-bar {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;

  @media (max-width: 576px) {
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--bs-body-color);

}

.stat-count {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.2;
}

.stat-name {
  font-size: 0.875rem;
  color: var(--bs-secondary-color);
  transition: color 0.3s ease;
}

.statistic:hover .stat-name {
  color: var(--bs-body-color);
}
