@import "../../node_modules/bootstrap/scss/bootstrap.scss";

[data-bs-theme="light"] .header,
[data-bs-theme="light"] .footer {
  background-color: $cyan-200;
}
[data-bs-theme="dark"] .header,
[data-bs-theme="dark"] .footer {
  background-color: $cyan-500;
}

.nav-auth{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.auth-container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.form-inline {
   display: inline-grid;
   width: fit-content;

   .form-element {
     display: grid;
     grid-template-columns: minmax(auto, 25%) 1fr;
     gap: 1rem;
     margin-bottom: 1rem;
     align-items: center;

     .form-label {
       margin: 0;
       text-align: right;
       justify-self: end;
       line-height: 1.2;
       word-wrap: break-word;
       overflow-wrap: break-word;
       max-width: 100%;
       padding-right: 0.5rem;
     }

     .form-control {
       max-width: 800px;
       width: 100%;
     }
   }
 }
.img-preview, .img-cropper {
   max-width: 300px;
   max-height: 300px;
   width: 100%;
   height: auto;
   display: block;
   margin: 0 auto;
 }

.img-preview img{
   object-fit: cover;

}
